body {
    font-family: "Lato", sans-serif;
}

.fa-size{
  font-size: 15px;
}

/*navbar section*/
.navbar{
  padding: 0;
  background-color: black !important;
}
.navbar-brand{
  padding: 15px 15px;
}
.nav-link,.item-right,.navbar-brand{
  color: white !important;
  margin: 10px 10px;
}
.nav-link:hover, .nav-item:hover,.navbar-brand:hover, .dropdown-item:hover{
  color: black;
  background-color: #999 !important;
}
.btn{
  color: white;
  border: 0;
}
.btn:hover{
  background-color: red;
}



@media (max-width:752px) {
}

/*band Section*/
#band{
  background-color: white;
  margin:5% 30%;
  text-align: center;
}

.sub-heading{
  font-weight: 100px;
  margin-top: 30px;
}
.band-paragraph{
  margin: 40px 0;
  text-align: left;
  font-weight: 500px;
}
.img-bandmember{
  margin: 0 3px;
  overflow: hidden;
  height: 150px;
  width: 150px;
}



@media (max-width: 752px) {
  #band{
    margin: 5% 3%;
  }

  .img-bandmember{
    margin: 0 3px;
    overflow: hidden;
    height: 300px;
    width: 300px;

  }
  .name{
    margin-top: 50px;
  }
}



/*tour date*/
#tour-date{
  background-color: black;
}
.tour-date1{
    margin:5% 30%;
  text-align: center;
  color: white;
}
.tour-title{
  padding-top: 80px;
}

.month{
  margin: 40px 0;
}
.breadcrumb{
  margin: 0;
  border-radius: 0;
  border-bottom: 1px solid #eee;
  background-color: white;
}
span{
  margin-left: 5px;
  background-color: red;
}
.span-right{
  margin-left: 600px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 20px;
}
.card-text,.card-title,pre{
  color: black;
  text-align: left;
}

.btn{
  float: left;
}

.row-adjust{
  padding-bottom: 80px;
}


@media (max-width: 752px) {
  .tour-date1{
      margin:5% 3%;
    text-align: center;
    color: white;
  }
  .card{
    margin: 20px 0;
  }
  .span-right{
    margin-left: 100px;
  }
}
/*contact section*/
#contact-page{
  background-color: white;
  color: black;
    margin:5% 30%;
}
.contact-heading{
  text-align: center;
}
.btn-right{
  float: right;
  margin: 10px 0 100px 0;
}
.style{
  width: 100px;
}
h6{
  margin: 40px 0 60px 0;
}
.message{
  margin: 26px 0 0 16px ;
  width: 100%;
}


@media (max-width:752px) {
  #contact-page{
      margin:5% 3%;
  }
  .email{
    width:  100%;
  }
  .name{
    width: 100%;
      margin-top: 0;
  }
}



/* map section */
.map-adjustment{
  width: 100%;
}


/* footer section */
#footer{
  text-align: center;
}
.fontawesome{
  margin-top: 100px;
}
.margin{
  margin: 5px;
}
